.message{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}
.mymsg{
    background: skyblue;
    color: black;
    font-family: Comic Sans Ms;
}
.msgbox{
    width: 100%;
    height: 70px;   
    border-radius: 10px;
    background: skyblue;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Comic Sans Ms;
    color: black;
}
.msgbutt{
    height: 40px;
}