.main img{
    height: 160px;
    width: 150px;
    box-sizing: border-box;
    position: static;
}
.main{
    background-color: #D4D8E8;
}
ion-title{
    font-weight: bold;
    font-family: Comic Sans Ms;
    font-size: 30px;
}
