<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GALLERY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
    <center>
    <br>
    <img src="../../assets/imgs/img1.jpg" >
    <img src="../../assets/imgs/img2.jpg" >
    <img src="../../assets/imgs/img3.jpg" >
    <img src="../../assets/imgs/img4.jpg" >
    <img src="../../assets/imgs/img5.jpg" >
    <br>
    <img src="../../assets/imgs/img6.jpg" >
    <img src="../../assets/imgs/img7.jpg" >
    <img src="../../assets/imgs/img8.jpg" >
    <img src="../../assets/imgs/img9.jpg" >
    <img src="../../assets/imgs/img10.jpg" >
    <br>
    <img src="../../assets/imgs/img11.jpg" >
    <img src="../../assets/imgs/img12.jpg" >
    <img src="../../assets/imgs/img13.jpg" >
    <img src="../../assets/imgs/img14.jpg" >
    <img src="../../assets/imgs/img15.jpg" >
  </center>
</div>
</ion-content>
