<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Contacts</ion-title>
      </ion-toolbar>
    </ion-header>
      <center>
        <br>
        <img src="../../assets/imgs/call.jpg" ><strong>Mobile Number: 09650821973</strong>
        <br>
        <img src="../../assets/imgs/email.jpg" ><strong>Email Address: maryannmartinez143@gmail.com </strong>
        <br><br>
        <img src="../../assets/imgs/fb.png" ><strong>Facebook Account: Maryann Martinez</strong>
        <br><br>
        <img src="../../assets/imgs/insta.jpg" ><strong>IG Account: maryannmartineezz</strong>
        <br><br><br>
    </center>
  </div>
  </ion-content>